<template>
  <div class="com-a">
    <h2>我是组件A</h2>
    <h3>父亲给我了，{{ aPropVal }}</h3>
    <h4>B传过来的数据是：{{ getBdata }}</h4>
    <h5>C传过来的数据是：{{ getCdata }}</h5>
    <input type="button" value="把值传给B" @click="eventAb">
    <input type="button" value="把值传给C" @click="eventAc">
    <input type="button" value="A和父亲说话" @click="eventAf">
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Ccoma',
  props:['aPropVal'],
  computed:{
    ...mapGetters(['getterC','getterB']),
    getCdata(){
      return this.getterC.ctoA;
    },
    getBdata(){
      return this.getterB;
    }
  },
  methods:{
    eventAb(){
      this.$store.dispatch('actionA','二，我是老大');
    },
    eventAc(){
      this.$store.dispatch('actionA','三儿，我是老大');
    },
    eventAf(){
      this.$emit('a-f-msg','爸，我是老大');
    }
  }
}
</script>

<style>
.com-a {
  background-color:red;
  color:#fff;
  margin-bottom: 10px;
}
</style>
