<template>
  <div class="com-b">
    <h2>我是组件B</h2>
    <h3>父亲给我了，{{ bPropVal }}</h3>
    <h4>A传过来的数据是：{{ getAdata }}</h4>
    <h5>c传过来的数据是：{{ getCdata }}</h5>
    <input type="button" value="把值传给A" @click="eventBa">
    <input type="button" value="把值传给C" @click="eventBc">
    <input type="button" value="B和父亲说话" @click="eventBf">
  </div>
</template>

<script>
import { mapGetters,mapActions } from 'vuex'
export default {
  name: 'Ccomb',
  props:['bPropVal'],
  computed:{
    ...mapGetters(['getterA','getterC']),
    getAdata(){
      return this.getterA;
    },
    getCdata(){
      return this.getterC.ctoB;
    }
  },
  methods:{
    ...mapActions(['actionB']),
    eventBa(){
      this.actionB('我是老二');
    },
    eventBc(){
      this.actionB('我是老二');
    },
    eventBf(){
      this.$emit('b-f-msg','我是老二');
    }
  }
}
</script>

<style>
.com-b{
  background-color:blue;
  color:#fff;
  margin-bottom: 10px;
}
</style>
