<template>
  <div class="com-c">
    <h2>我是组件C</h2>
    <h3>父亲给我了，{{ cPropVal }}</h3>
    <h4>A传过来的数据是：{{ getAdata }}</h4>
    <h5>B传过来的数据是：{{ getBdata }}</h5>
    <input type="button" value="把值传给A" @click="eventCa">
    <input type="button" value="把值传给B" @click="eventCb">
    <input type="button" value="C和父亲说话" @click="eventCf">
  </div>
</template>
<script>
import { mapGetters,mapActions } from 'vuex'
export default {
  name: 'Ccomc',
  props:['cPropVal'],
  computed:{
    ...mapGetters(['getterA','getterB']),
    getAdata(){
      return this.getterA;
    },
    getBdata(){
      return this.getterB;
    }
  },
  methods:{
    ...mapActions(['actionCA','actionCB']),
    eventCa(){
      this.actionCA('大哥，我是老小孩');
    },
    eventCb(){
      this.actionCB('二哥，我是老小孩');
    },
    eventCf(){
      this.$emit('c-f-msg','爸，我是老小孩');
    }
  }
}
</script>
<style>
.com-c {
  background-color:green;
  color:#fff;
}
</style>