<template>
  <div class="com-parent">
    <com-a :aPropVal="getFdata.ftoA" v-on:a-f-msg="listenToa"></com-a>
    <h3>子组件A想告诉父亲，{{ getAdata }}</h3>
    <com-b :bPropVal="getFdata.ftoB" v-on:b-f-msg="listenTob"></com-b>
    <h3>子组件B想告诉父亲，{{ getBdata }}</h3>
    <com-c :cPropVal="getFdata.ftoC" v-on:c-f-msg="listenToc"></com-c>
    <h3>子组件C想告诉父亲，{{ getCdata }}</h3>
  </div>
</template>

<script>
import Ccoma from './components/cca.vue'
import Ccomb from './components/ccb.vue'
import Ccomc from './components/ccc.vue'
import { mapGetters, mapMutations } from 'vuex'

export default {
  name: 'Pcom',
  computed:{
    getFdata(){
      return this.$store.state.dataF;
    },
    ...mapGetters(['getterA','getterB','getterC']),
    getAdata(){
      return this.getterA;
    },
    getBdata(){
      return this.getterB;
    },
    getCdata(){
      return this.getterC.ctoF;
    }
  },
  components:{
    'com-a': Ccoma,
    'com-b': Ccomb,
    'com-c': Ccomc
  },
  methods:{
    ...mapMutations(['MUTATION_A','MUTATION_B','MUTATION_C_F']),
    listenToa(adata){
      this.MUTATION_A(adata);
    },
    listenTob(bdata){
      this.MUTATION_B(bdata);
    },
    listenToc(cdata){
      this.MUTATION_C_F(cdata);
    }
  }
}
</script>

<style>
.com-parent {
  border:1px solid black;
}
</style>
